
<div class="page wrapper">
  <div class="header">
    {{'price list' | uppercase}}
  </div>

  <div class="main-content">

    <div class="container">
      <div class="row">
        <div class="col-4"  *ngFor="let card of priceList">
          <div class="card mb-3" style="width: 18rem;">
            <div class="card-header">
              {{card.title}}
            </div>
            <div class="card-body">
              <p class="card-text">{{card.price | currency : 'UAH '}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
