<div class="layout-container">
  <aside class="left" [class.active]="menuIsActive">
    <header>
      <a [routerLink]="['/']">
      </a>
      <span (click)="toggleMenu()" class="chevron-left d-md-none"><i class="fa fa-chevron-left text-white"></i></span>
    </header>
    <nav>
      <a *ngFor="let item of menuItems"
         class="menu-item"
         [routerLink]="item.route"
         routerLinkActive="active"
         (click)="closeMenu()"
      >
        <span><img class="mr-4 mr-md-0 mb-md-2 mb-lg-0 mr-lg-4" alt=""></span>
      </a>
      <footer class="position-absolute d-md-flex justify-content-md-center d-lg-none">
        <app-sign-out></app-sign-out>
      </footer>
    </nav>
  </aside>
  <div class="right" [class.inactive]="menuIsActive">
    <header>
      <button class="bars btn d-md-none" (click)="toggleMenu()"><i class="fa fa-bars fa-2x"></i></button>
      <h1 class="title text-uppercase">{{title}}</h1>
      <div class="right-toolbar">
        <app-sign-out class="d-none d-lg-block"></app-sign-out>
      </div>
    </header>
    <main>
      <mat-form-field>
        <input matInput placeholder="Input">
      </mat-form-field>
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </main>
  </div>
</div>
